.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-self-center {
    align-self: center;
}

.emphasis {
    text-transform: uppercase;
    font-weight: bold;
}

.pointer-hover:hover {
    cursor: pointer;
}

.no-decoration {
    text-decoration: none;
}
