.main {
    height: 100%;
    display: grid;
    grid-template-areas:
        'route'
        'footer';
    grid-template-columns: 100%;
    grid-template-rows: auto max-content;
}

.main__route {
    grid-area: route;
}

.main__footer {
    grid-area: footer;
}
