.glossary__container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        'logo search'
        '. day-phrase';
    grid-gap: 0 1em;
    grid-template-columns: max-content minmax(max-content, 400px);
    grid-template-rows: max-content;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.glossary__day-phrase {
    grid-area: day-phrase;
}

.glossary__logo {
    grid-area: logo;
    width: 400px;
}

.glossary__search {
    grid-area: search;
    margin: 0;
    outline: none;
}

@media screen and (max-width: 700px) {
    .glossary__container {
        grid-template-areas:
            'logo'
            'search'
            'day-phrase';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        grid-gap: 1em;
        padding: 1.5em;
    }

    .glossary__logo, .glossary__day-phrase {
        justify-self: center;
    }

    .glossary__logo {
        width: 80%;
        height: auto;
    }
}
