.container {
  height: 100%;
  width: 100%;
  display: grid;
}

.hasNotSearch {
  grid-template-rows: 100% 0;
}

.hasSearch {
  grid-template-rows: max-content auto;
}

@media screen and (max-width: 700px) {
  .searchTools {
    grid-template-areas:
      'logo'
      'search'
      'day-phrase';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    grid-gap: 1em;
    padding: 0.5em 1em 0;
  }

  .logo,
  .dayPhrase {
    justify-self: center;
  }

  .logo {
    width: 80%;
    height: auto;
  }
}
