.glossary__container {
    height: 100%;
    display: grid;
    grid-template-areas:
        'logo search'
        '. day-phrase';
    grid-gap: 0 1em;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.glossary__logo {
    grid-area: logo;
}

.glossary__search {
    grid-area: search;
    outline: none;
}

.glossary__day-phrase {
    grid-area: day-phrase;
    padding: 0 5px;
}
