.glossary__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.glossary__container .glossary__container-row {
    display: flex;
    flex-direction: row;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
}

.glossary__container p {
    margin-left: 50%;
    margin-top: 0px;
}
