.resultsContainer {
  background-color: #30abae;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  padding: 2em 20%;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 1em;
}

@media screen and (max-width: 720px) {
  .resultsContainer {
    padding: 2em 1em;
  }
}
