.description__container {
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 0.1rem;
}

.description__title {
    display: flex;
    text-align: center;
    font-weight: bold;
}

.description__text {
    display: flex;
    min-height: 2rem;
    min-width: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 0.5rem;
}