.search {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.search * {
    outline: none;
    border: none;
}

.search__input {
    background-color: #dcdcdc;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 400px;
    padding: 0 10px;
}

.search__button-container {
    background-color: #30abae;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 0 10px 10px 0;
}