html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Ikaros;
  src: url(../assets/fonts/Ikaros-Regular.otf);
}

@font-face {
  font-family: Jaapokki;
  src: url(../assets/fonts/Jaapokki-Regular.otf);
}

#app {
  background: #f2f2f2;
  height: 100%;
}
